<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS常用抽屉框架.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE0E1B071D50941500B71FEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE0E1B201D50941500B71FEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE0E1B2B1D50941500B71FEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
